* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: azure;
}

h1 {
    color: azure;
    text-align: center;
    font-family:"Lucida Console";
    font-weight: bold;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque {
    color: #591b91;
}

.texto-destaque {
    color: #883fc9;
}

.contato {
    color:#591b91;
    font-weight: bold;
}

p {
    color: azure;
    text-align: justify;
    font-family:"Lucida Console";
}

p2 {
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    color: azure;
    text-align: justify;
    font-family:"Lucida Console";
}

a {
    border: 2px solid #591b91;
    border-radius: 5px;
    color: azure;
    padding: 10px;
}